In [7]:
import pandas as pd
import numpy as np 
import seaborn as sns
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [8]:
# reading excel file

In [9]:
data= pd.read_excel(r"C:\Users\Mayank PC\Downloads\articles.xlsx")

In [10]:
data.head(2)

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count
0,0,reuters,Reuters,Reuters Editorial,NTSB says Autopilot engaged in 2018 California...,The National Transportation Safety Board said ...,https://www.reuters.com/article/us-tesla-crash...,https://s4.reutersmedia.net/resources/r/?m=02&...,2019-09-03T16:22:20Z,WASHINGTON (Reuters) - The National Transporta...,0.0,0.0,0.0,2528.0,0.0
1,1,the-irish-times,The Irish Times,Eoin Burke-Kennedy,Unemployment falls to post-crash low of 5.2%,Latest monthly figures reflect continued growt...,https://www.irishtimes.com/business/economy/un...,https://www.irishtimes.com/image-creator/?id=1...,2019-09-03T10:32:28Z,The States jobless rate fell to 5.2 per cent l...,0.0,6.0,10.0,2.0,0.0

In [11]:
# Summary of Data

In [12]:
data.describe()

,article_id,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count
count,10437.000000,10435.000000,10319.000000,10319.000000,10319.000000,10319.000000
mean,5218.000000,0.122089,381.395290,124.032949,196.236263,0.011629
std,3013.046714,0.327404,4433.344792,965.351188,1020.680229,0.268276
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2609.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,5218.000000,0.000000,1.000000,0.000000,8.000000,0.000000
75%,7827.000000,0.000000,43.000000,12.000000,47.500000,0.000000
max,10436.000000,1.000000,354132.000000,48490.000000,39422.000000,15.000000

In [13]:
# Summary of columns

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   article_id                       10437 non-null  int64
 1   source_id                        10437 non-null  object
 2   source_name                      10437 non-null  object
 3   author                           9417 non-null   object
 4   title                            10435 non-null  object
 5   description                      10413 non-null  object
 6   url                              10436 non-null  object
 7   url_to_image                     9781 non-null   object
 8   published_at                     10436 non-null  object
 9   content                          9145 non-null   object
 10  top_article                      10435 non-null  float64
 11  engagement_reaction_count        10319 non-null  float64
 12  engagement_comment_count         10319 non-null  float64
 13  engagement_share_count           10319 non-null  float64
 14  engagement_comment_plugin_count  10319 non-null  float64
dtypes: float64(5), int64(1), object(9)
memory usage: 1.2+ MB

In [15]:
# Counting number of articles per source

In [16]:
data.groupby(['source_id'])['article_id'].count()

source_id
1                             1
abc-news                   1139
al-jazeera-english          499
bbc-news                   1242
business-insider           1048
cbs-news                    952
cnn                        1132
espn                         82
newsweek                    539
reuters                    1252
the-irish-times            1232
the-new-york-times          986
the-wall-street-journal     333
Name: article_id, dtype: int64

In [17]:
# Number of reactions by publisher

In [18]:
data.groupby(['source_id'])['engagement_reaction_count'].sum()

source_id
1                                0.0
abc-news                    343779.0
al-jazeera-english          140410.0
bbc-news                    545396.0
business-insider            216545.0
cbs-news                    459741.0
cnn                        1218206.0
espn                             0.0
newsweek                     93167.0
reuters                      16963.0
the-irish-times              26838.0
the-new-york-times          790449.0
the-wall-street-journal      84124.0
Name: engagement_reaction_count, dtype: float64

In [19]:
# dropping a columns

In [20]:
data= data.drop('engagement_comment_plugin_count',axis=1)

In [21]:
data.head(1)

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count
0,0,reuters,Reuters,Reuters Editorial,NTSB says Autopilot engaged in 2018 California...,The National Transportation Safety Board said ...,https://www.reuters.com/article/us-tesla-crash...,https://s4.reutersmedia.net/resources/r/?m=02&...,2019-09-03T16:22:20Z,WASHINGTON (Reuters) - The National Transporta...,0.0,0.0,0.0,2528.0

In [22]:
# Creating a keyword Flag

In [23]:
keyword='crash'

In [24]:
# lets create a for loop to inititate each tittle row

In [25]:
#length=len(data)
#keyword_flag = []
#for i in range(0,length):
    #heading= data['title'][i]
    #if keyword in heading:
        #flag = 1
    #else:
        #flag = 0
    #keyword_flag.append(flag)

In [26]:
#keyword_flag

NameError: name 'keyword_flag' is not defined

In [27]:
#Creating a function

In [28]:
def keywordflag(keyword):
    length=len(data)
    keyword_flag = []
    for i in range(0,length):
        heading= data['title'][i]
        try:
            if keyword in heading:
                flag = 1
            else:
                flag = 0
        except:
            flag=0
        keyword_flag.append(flag)
    return keyword_flag

In [29]:
k=keywordflag("murder")

In [30]:
k

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [31]:
#Creating a new column in data columns

In [32]:
data['keyword_flag']= pd.Series(k)

In [33]:
data.head(1)

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,keyword_flag
0,0,reuters,Reuters,Reuters Editorial,NTSB says Autopilot engaged in 2018 California...,The National Transportation Safety Board said ...,https://www.reuters.com/article/us-tesla-crash...,https://s4.reutersmedia.net/resources/r/?m=02&...,2019-09-03T16:22:20Z,WASHINGTON (Reuters) - The National Transporta...,0.0,0.0,0.0,2528.0,0

In [34]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [35]:
# SentimentIntensityAnalyzer

In [36]:
sent_int=SentimentIntensityAnalyzer()

In [40]:
text=data['title'][16]

In [41]:
sent=sent_int.polarity_scores(text)

In [42]:
sent

{'neg': 0.451, 'neu': 0.549, 'pos': 0.0, 'compound': -0.8126}

In [43]:
neg=sent['neg']

In [44]:
neg

0.451

In [45]:
pos=sent['pos']

In [46]:
neu=sent['neu']

In [47]:
# adding a for loop to extract sentiment per title

In [51]:
title_neg_sentiment=[]
title_pos_sentiment=[]
title_neu_sentiment=[]

In [56]:
length=len(data)
for i in range(0,length):
    try:
        text=data['title'][i]
        sent_int=SentimentIntensityAnalyzer()
        sent=sent_int.polarity_scores(text)
        neg=sent['neg']
        pos=sent['pos']
        neu=sent['neu']
    except:
        neg=0
        pos=0
        neu=0
    title_neg_sentiment.append(neg)
    title_pos_sentiment.append(pos)
    title_neu_sentiment.append(neu)

In [57]:
title_neg_sentiment

[0.218,
 0.5,
 0.0,
 0.0,
 0.146,
 0.0,
 0.172,
 0.224,
 0.0,
 0.0,
 0.218,
 0.5,
 0.0,
 0.0,
 0.146,
 0.0,
 0.172,
 0.224,
 0.0,
 0.0,
 0.174,
 0.259,
 0.0,
 0.0,
 0.0,
 0.71,
 0.451,
 0.343,
 0.0,
 0.0,
 0.0,
 0.151,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.291,
 0.119,
 0.0,
 0.0,
 0.2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.167,
 0.0,
 0.0,
 0.185,
 0.324,
 0.0,
 0.184,
 0.0,
 0.112,
 0.244,
 0.0,
 0.211,
 0.0,
 0.231,
 0.224,
 0.0,
 0.31,
 0.0,
 0.202,
 0.213,
 0.0,
 0.0,
 0.0,
 0.213,
 0.0,
 0.0,
 0.286,
 0.0,
 0.291,
 0.407,
 0.0,
 0.0,
 0.0,
 0.0,
 0.061,
 0.517,
 0.0,
 0.167,
 0.0,
 0.0,
 0.0,
 0.256,
 0.0,
 0.0,
 0.192,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.203,
 0.0,
 0.0,
 0.375,
 0.212,
 0.0,
 0.0,
 0.172,
 0.224,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.208,
 0.0,
 0.254,
 0.0,
 0.0,
 0.402,
 0.0,
 0.208,
 0.0,
 0.0,
 0.0,
 0.0,
 0.491,
 0.0,
 0.0,
 0.0,
 0.0,
 0.238,
 0.0,
 0.216,
 0.0,
 0.0,
 0.0,
 0.397,
 0.489,
 0.211,
 0.0,
 0.308,
 0.18,
 0.0,
 0.136,
 0.0,
 0.0,
 0.0,
 0.279,
 0.0,
 0.0,
 0.218,
 0.561,
 0.0,
 0.5,
 0.0,
 0.216,
 0.267,
 0.0,
 0.0,
 0.0,
 0.263,
 0.244,
 0.0,
 0.159,
 0.0,
 0.0,
 0.0,
 0.0,
 0.213,
 0.123,
 0.0,
 0.211,
 0.0,
 0.462,
 0.255,
 0.287,
 0.281,
 0.0,
 0.203,
 0.293,
 0.106,
 0.301,
 0.0,
 0.245,
 0.387,
 0.0,
 0.172,
 0.261,
 0.0,
 0.0,
 0.128,
 0.0,
 0.0,
 0.0,
 0.16,
 0.548,
 0.231,
 0.184,
 0.0,
 0.0,
 0.192,
 0.375,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.247,
 0.0,
 0.0,
 0.0,
 0.177,
 0.277,
 0.0,
 0.0,
 0.0,
 0.156,
 0.211,
 0.346,
 0.0,
 0.279,
 0.0,
 0.205,
 0.0,
 0.583,
 0.0,
 0.304,
 0.0,
 0.0,
 0.196,
 0.549,
 0.38,
 0.245,
 0.487,
 0.0,
 0.034,
 0.0,
 0.0,
 0.0,
 0.188,
 0.0,
 0.0,
 0.266,
 0.0,
 0.268,
 0.0,
 0.302,
 0.215,
 0.0,
 0.0,
 0.0,
 0.096,
 0.0,
 0.237,
 0.167,
 0.135,
 0.117,
 0.0,
 0.0,
 0.0,
 0.504,
 0.157,
 0.289,
 0.124,
 0.0,
 0.535,
 0.0,
 0.127,
 0.0,
 0.0,
 0.293,
 0.0,
 0.0,
 0.341,
 0.0,
 0.0,
 0.206,
 0.419,
 0.444,
 0.0,
 0.0,
 0.0,
 0.283,
 0.343,
 0.0,
 0.25,
 0.0,
 0.0,
 0.0,
 0.0,
 0.464,
 0.177,
 0.207,
 0.0,
 0.0,
 0.278,
 0.375,
 0.255,
 0.0,
 0.225,
 0.105,
 0.0,
 0.421,
 0.0,
 0.0,
 0.106,
 0.104,
 0.167,
 0.197,
 0.685,
 0.0,
 0.0,
 0.0,
 0.0,
 0.36,
 0.368,
 0.118,
 0.0,
 0.459,
 0.0,
 0.25,
 0.206,
 0.0,
 0.0,
 0.0,
 0.0,
 0.36,
 0.0,
 0.206,
 0.404,
 0.0,
 0.549,
 0.0,
 0.0,
 0.164,
 0.0,
 0.0,
 0.0,
 0.153,
 0.0,
 0.0,
 0.286,
 0.241,
 0.0,
 0.171,
 0.278,
 0.342,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.233,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.388,
 0.161,
 0.11,
 0.164,
 0.0,
 0.095,
 0.0,
 0.351,
 0.0,
 0.0,
 0.174,
 0.192,
 0.275,
 0.0,
 0.339,
 0.116,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.231,
 0.0,
 0.213,
 0.0,
 0.209,
 0.0,
 0.113,
 0.31,
 0.0,
 0.197,
 0.257,
 0.343,
 0.0,
 0.184,
 0.222,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.174,
 0.382,
 0.0,
 0.0,
 0.0,
 0.0,
 0.338,
 0.0,
 0.0,
 0.205,
 0.0,
 0.0,
 0.0,
 0.309,
 0.0,
 0.0,
 0.098,
 0.167,
 0.258,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.301,
 0.15,
 0.162,
 0.286,
 0.305,
 0.394,
 0.402,
 0.402,
 0.0,
 0.0,
 0.291,
 0.12,
 0.277,
 0.0,
 0.0,
 0.0,
 0.255,
 0.0,
 0.142,
 0.0,
 0.0,
 0.0,
 0.0,
 0.178,
 0.0,
 0.222,
 0.0,
 0.0,
 0.107,
 0.0,
 0.0,
 0.275,
 0.0,
 0.0,
 0.186,
 0.2,
 0.0,
 0.281,
 0.452,
 0.231,
 0.368,
 0.175,
 0.0,
 0.0,
 0.0,
 0.467,
 0.213,
 0.0,
 0.0,
 0.0,
 0.148,
 0.244,
 0.155,
 0.278,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.388,
 0.439,
 0.0,
 0.0,
 0.0,
 0.218,
 0.0,
 0.0,
 0.0,
 0.241,
 0.0,
 0.252,
 0.421,
 0.0,
 0.167,
 0.0,
 0.0,
 0.216,
 0.0,
 0.0,
 0.104,
 0.291,
 0.0,
 0.252,
 0.0,
 0.0,
 0.179,
 0.0,
 0.0,
 0.206,
 0.0,
 0.0,
 0.0,
 0.478,
 0.537,
 0.0,
 0.24,
 0.0,
 0.44,
 0.0,
 0.0,
 0.0,
 0.231,
 0.0,
 0.0,
 0.0,
 0.0,
 0.252,
 0.0,
 0.293,
 0.0,
 0.312,
 0.0,
 0.0,
 0.138,
 0.393,
 0.0,
 0.35,
 0.338,
 0.0,
 0.0,
 0.146,
 0.197,
 0.286,
 0.0,
 0.0,
 0.0,
 0.487,
 0.156,
 0.0,
 0.318,
 0.16,
 0.0,
 0.32,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.274,
 0.0,
 0.0,
 0.0,
 0.462,
 0.0,
 0.0,
 0.0,
 0.0,
 0.214,
 0.712,
 0.0,
 0.0,
 0.0,
 0.0,
 0.095,
 0.0,
 0.0,
 0.0,
 0.0,
 0.386,
 0.286,
 0.0,
 0.189,
 0.0,
 0.0,
 0.259,
 0.0,
 0.231,
 0.0,
 0.49,
 0.358,
 0.0,
 0.632,
 0.0,
 0.302,
 0.275,
 0.221,
 0.459,
 0.0,
 0.0,
 0.158,
 0.0,
 0.309,
 0.148,
 0.0,
 0.437,
 0.0,
 0.0,
 0.26,
 0.0,
 0.0,
 0.0,
 0.204,
 0.155,
 0.232,
 0.0,
 0.231,
 0.347,
 0.153,
 0.626,
 0.325,
 0.206,
 0.506,
 0.286,
 0.213,
 0.0,
 0.268,
 0.375,
 0.0,
 0.0,
 0.346,
 0.0,
 0.167,
 0.106,
 0.453,
 0.252,
 0.0,
 0.0,
 0.129,
 0.0,
 0.0,
 0.254,
 0.0,
 0.138,
 0.291,
 0.145,
 0.169,
 0.0,
 0.209,
 0.306,
 0.416,
 0.483,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.441,
 0.477,
 0.0,
 0.0,
 0.167,
 0.121,
 0.0,
 0.268,
 0.072,
 0.267,
 0.438,
 0.0,
 0.174,
 0.112,
 0.0,
 0.153,
 0.231,
 0.0,
 0.0,
 0.0,
 0.0,
 0.449,
 0.262,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.281,
 0.244,
 0.0,
 0.0,
 0.0,
 0.056,
 0.188,
 0.0,
 0.28,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.294,
 0.379,
 0.0,
 0.0,
 0.496,
 0.0,
 0.0,
 0.187,
 0.0,
 0.0,
 0.287,
 0.481,
 0.568,
 0.0,
 0.0,
 0.448,
 0.358,
 0.0,
 0.0,
 0.0,
 0.434,
 0.224,
 0.406,
 0.263,
 0.0,
 0.0,
 0.375,
 0.0,
 0.174,
 0.417,
 0.0,
 0.397,
 0.388,
 0.0,
 0.0,
 0.298,
 0.187,
 0.0,
 0.0,
 0.0,
 0.0,
 0.508,
 0.623,
 0.224,
 0.0,
 0.697,
 0.0,
 0.355,
 0.518,
 0.0,
 0.0,
 0.184,
 0.0,
 0.18,
 0.188,
 0.426,
 0.207,
 0.252,
 0.0,
 0.379,
 0.0,
 0.363,
 0.0,
 0.0,
 0.259,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.275,
 0.0,
 0.486,
 0.0,
 0.0,
 0.508,
 0.184,
 0.0,
 0.0,
 0.0,
 0.0,
 0.288,
 0.478,
 0.0,
 0.0,
 0.197,
 0.31,
 0.32,
 0.0,
 0.0,
 0.112,
 0.348,
 0.0,
 0.185,
 0.417,
 0.0,
 0.0,
 0.489,
 0.509,
 0.281,
 0.0,
 0.0,
 0.0,
 0.213,
 0.0,
 0.0,
 0.14,
 0.247,
 0.276,
 0.0,
 0.0,
 0.574,
 0.278,
 0.247,
 0.375,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.167,
 0.0,
 0.146,
 0.205,
 0.541,
 0.106,
 0.403,
 0.0,
 0.37,
 0.0,
 0.0,
 0.0,
 0.174,
 0.356,
 0.0,
 0.196,
 0.0,
 0.213,
 0.0,
 0.0,
 0.0,
 0.0,
 0.323,
 0.0,
 0.444,
 0.0,
 0.197,
 0.086,
 0.268,
 0.324,
 0.272,
 0.0,
 0.167,
 0.244,
 0.559,
 0.0,
 0.339,
 0.37,
 0.369,
 0.2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.507,
 0.528,
 0.196,
 0.458,
 0.0,
 0.0,
 0.316,
 0.143,
 0.0,
 0.0,
 0.0,
 0.286,
 0.191,
 0.237,
 0.0,
 0.0,
 0.392,
 0.306,
 0.0,
 0.0,
 0.0,
 0.615,
 0.0,
 0.171,
 0.0,
 0.259,
 0.0,
 0.0,
 0.16,
 0.0,
 0.0,
 0.204,
 0.0,
 0.445,
 0.0,
 0.0,
 0.0,
 0.0,
 0.313,
 0.0,
 0.0,
 0.0,
 0.0,
 0.195,
 0.0,
 0.0,
 0.0,
 0.187,
 0.0,
 0.0,
 0.0,
 0.0,
 0.204,
 0.0,
 0.0,
 0.16,
 0.0,
 0.0,
 0.0,
 0.252,
 0.257,
 0.0,
 0.0,
 0.0,
 0.075,
 0.115,
 0.0,
 0.43,
 0.521,
 0.174,
 0.0,
 0.0,
 0.0,
 0.394,
 0.194,
 0.063,
 0.0,
 0.0,
 0.0,
 0.238,
 0.0,
 0.0,
 0.134,
 0.0,
 0.0,
 0.0,
 0.556,
 0.0,
 0.184,
 0.167,
 0.184,
 0.173,
 0.0,
 0.0,
 0.0,
 0.128,
 0.0,
 0.0,
 0.236,
 0.241,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.571,
 0.0,
 0.0,
 0.0,
 0.24,
 0.0,
 0.174,
 0.0,
 0.22,
 0.148,
 0.16,
 ...]

In [58]:
title_neg_sentiment=pd.Series(title_neg_sentiment)
title_pos_sentiment=pd.Series(title_pos_sentiment)
title_neu_sentiment=pd.Series(title_neu_sentiment)

In [59]:
data

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,keyword_flag
0,0,reuters,Reuters,Reuters Editorial,NTSB says Autopilot engaged in 2018 California...,The National Transportation Safety Board said ...,https://www.reuters.com/article/us-tesla-crash...,https://s4.reutersmedia.net/resources/r/?m=02&...,2019-09-03T16:22:20Z,WASHINGTON (Reuters) - The National Transporta...,0.0,0.0,0.0,2528.0,0
1,1,the-irish-times,The Irish Times,Eoin Burke-Kennedy,Unemployment falls to post-crash low of 5.2%,Latest monthly figures reflect continued growt...,https://www.irishtimes.com/business/economy/un...,https://www.irishtimes.com/image-creator/?id=1...,2019-09-03T10:32:28Z,The States jobless rate fell to 5.2 per cent l...,0.0,6.0,10.0,2.0,0
2,2,the-irish-times,The Irish Times,Deirdre McQuillan,"Louise Kennedy AW2019: Long coats, sparkling t...",Autumn-winter collection features designer’s g...,https://www.irishtimes.com/\t\t\t\t\t\t\t/life...,https://www.irishtimes.com/image-creator/?id=1...,2019-09-03T14:40:00Z,Louise Kennedy is showing off her autumn-winte...,1.0,NaN,NaN,NaN,0
3,3,al-jazeera-english,Al Jazeera English,Al Jazeera,North Korean footballer Han joins Italian gian...,Han is the first North Korean player in the Se...,https://www.aljazeera.com/news/2019/09/north-k...,https://www.aljazeera.com/mritems/Images/2019/...,2019-09-03T17:25:39Z,"Han Kwang Song, the first North Korean footbal...",0.0,0.0,0.0,7.0,0
4,4,bbc-news,BBC News,BBC News,UK government lawyer says proroguing parliamen...,"The UK government's lawyer, David Johnston arg...",https://www.bbc.co.uk/news/av/uk-scotland-4956...,https://ichef.bbci.co.uk/news/1024/branded_new...,2019-09-03T14:39:21Z,NaN,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10432,10432,abc-news,ABC News,The Associated Press,Drop in US service sector activity raises econ...,"Get breaking national and world news, broadcas...",https://abcnews.go.com/Business/wireStory/drop...,https://s.abcnews.com/images/US/WireAP_eb147c9...,2019-10-03T16:30:16Z,Growth in the U.S. economys vast services sect...,0.0,0.0,0.0,0.0,0
10433,10433,reuters,Reuters,Sumeet Chatterjee,Banker defections pose challenge for Credit Su...,The announcement by Julius Baer this week that...,https://www.reuters.com/article/us-credit-suis...,https://s3.reutersmedia.net/resources/r/?m=02&...,2019-10-03T15:59:52Z,ZURICH/HONG KONG (Reuters) - The announcement ...,0.0,0.0,0.0,627.0,0
10434,10434,cnn,CNN,"Lauren M. Johnson, CNN","A 5-year-old cancer survivor donates 3,000 toy...",Weston Newswanger is just a normal 5-year-old ...,https://www.cnn.com/2019/10/03/us/five-year-ol...,https://cdn.cnn.com/cnnnext/dam/assets/1910021...,2019-10-03T11:20:06Z,NaN,0.0,4072.0,179.0,466.0,0
10435,10435,cbs-news,CBS News,CBS News,Fateful Connection,A detective is haunted by the case of two wome...,https://www.cbsnews.com/video/fateful-connecti...,https://cbsnews1.cbsistatic.com/hub/i/r/2019/1...,2019-10-03T16:40:03Z,NaN,0.0,0.0,0.0,0.0,0
10436,10436,cbs-news,CBS News,CBS News,"Love, Hate & Obsession",Who wanted one-time millionaire Lanny Horwitz ...,https://www.cbsnews.com/video/love-hate-obsess...,https://cbsnews1.cbsistatic.com/hub/i/r/2017/0...,2019-10-03T16:35:13Z,NaN,0.0,0.0,0.0,0.0,0

In [60]:
data['title_neg_sentiment']=title_neg_sentiment
data['title_pos_sentiment']=title_pos_sentiment
data['title_neu_sentiment']=title_neu_sentiment

In [61]:
data.head(1)

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,keyword_flag,title_neg_sentiment,title_pos_sentiment,title_neu_sentiment
0,0,reuters,Reuters,Reuters Editorial,NTSB says Autopilot engaged in 2018 California...,The National Transportation Safety Board said ...,https://www.reuters.com/article/us-tesla-crash...,https://s4.reutersmedia.net/resources/r/?m=02&...,2019-09-03T16:22:20Z,WASHINGTON (Reuters) - The National Transporta...,0.0,0.0,0.0,2528.0,0,0.218,0.218,0.565

In [62]:
# Saving the data to excel

In [63]:
data.to_excel('blogme_clean.xlsx',sheet_name='blogmedata',index=False)